<ion-header>
</ion-header>


<ion-content>
  <div class="container">
    <div class="imgApp"></div>
    <div class="div1">
      <div class="div2">
        <div class="group">
          <ion-item>
            <ion-label floating>Email</ion-label>
            <ion-input type="text" required [(ngModel)]="user.email" name="email"></ion-input>
          </ion-item>
        </div>
        <div class="group">
          <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="{{passwordType}}" name="password" ngModel  [(ngModel)]="user.password" required clearOnEdit="false">
            </ion-input>

            <button *ngIf="!passwordShown" ion-button clear color="dark" type="button" item-right
              (click)="showPassword()">
              <ion-icon name="ios-eye-off-outline"></ion-icon>
            </button>
            <button *ngIf="passwordShown" ion-button clear color="dark" type="button" item-right
              (click)="showPassword()">
              <ion-icon name="ios-eye-outline"></ion-icon>
            </button>

          </ion-item>
        </div>

        <div class="divLogin">
          <button type="submit" name="" value="Login" (click)="doLogin()">Login</button>
          <button type="submit" name="" value="Registrati" block (click)="goSignup()">Registrati</button>
        </div>
      </div>
    </div>
  </div>


</ion-content>