
.button-md-primary{
    margin: 0%;
}

.container{
    margin: 0;
    padding: 5%;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background: #F5F5F5;
  }
  .box{
    margin-top: 6%;
    width: 100%;
    padding: -10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #F5F5F5;
    text-align: center;
  }

  .box input[type = "text"],.box input[type = "password"]{
    border:0;
    background: #DBDBDB;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 0;
    //width: 200px;
    outline: none;
    color: grey;
    border-radius: 24px;
    transition: 0.25s;
  }
  .box input[type = "text"]:focus,.box input[type = "password"]:focus{
 //   width: 280px;
    border-color: #2ecc71;
  }
  .box input[type = "submit"]{
    border:0;
    background: #DBDBDB;
    display: block;
  //  margin: 20px auto;
    text-align: center;
   padding: 0;
    outline: none;
    color: grey;
    border-radius: 10px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box input[type = "submit"]:hover{
    background: #2ecc71;
  }
  input{
    background: none;
  }
  .divLogin{
      display: -webkit-flex;
  }
  .group{
    margin: 5%;
  }
  .imgApp{
      width: 100%;
  }

  .passwordIcon{
    font-size:2rem !important;
    position: relative !important;
    top: 22px !important;
    margin: 0 auto !important;
 }


 .div1 {
  text-align: center;
  
  }
  .div2 {
  vertical-align: middle;
  
  }
  .scroll-content{
    padding-bottom: 0% !important;
  }

  .item-label-stacked .text-input-md, .item-label-floating .text-input-md{
    background: none;
  }
