node_modules

\.sourcemaps/

quiz\.code-workspace

\.vscode/typings/cordova-ionic/plugins/keyboard\.d\.ts

\.vscode/typings/jquery/jquery\.d\.ts

typings/cordova-typings\.d\.ts

src/app/credential\.json
src/app/email\.json


\.vscode/

platforms

www/build/

plugins/

resources/
