.imgApp{
    content:url( "../assets/imgs/girl-icon.png");
    height: 35%;
    margin: auto;
}

.button-md-primary{
    margin-top: 10%;
}

.button-md-primary{
    margin: 0%;
}

.container{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #77807F;
  }
.divGame{
  display: grid;
  background: #77807F;
  text-align: center;
}


h4,h5{
  color: grey;
}



.test{
 
  background: #DBDBDB;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid;
  padding: 14px 40px;
  color: grey;
  border-radius: 24px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  text-transform: none;
}
.test input :hover{
  background: #2ecc71;
}

.button-md{
  background-color: none !important;
}
.button-md:hover{
  background-color: none !important;
}
.test:active{
  background-color: none !important;
}