.card-title-md{
    padding: 0%;
}
.buttonPadding{
    padding: 5%;
}

.paddingCard{
    padding:0%;
    background: #DBDBDB;
    width: 100%;
    margin: 0%;
    border-radius: 3%;

}

h1 {
    text-align:center;
    color: grey;
}

.box{
    display: block;
}


.test{
    border: 0;
    background: #DBDBDB;
    display: block;
    margin: 2% auto;
    text-align: center;
    border: 2px solid grey;
    padding: 14px 40px;
    outline: none;
    color: grey;
    border-radius: 24px;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    cursor: pointer;
  }
  .test input :hover{
    border: 2px solid grey !important;
    background: #DBDBDB !important;
  }
  .card-md{
      margin-bottom: 5%;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .container{
      overflow-y:hidden ;
  }

  .resImg{
    width: 100%;
    height: 100%;
  }
  h1, h2, h3, h4, h5{
      padding: 0%;
  }

